* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  background: black;
  color: $color-text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: $header1;
}
h2 {
  font-size: $header2;
}
h3 {
  font-size: $header3;
}
h4,
h5 {
  font-size: $header4;
}
ul {
  list-style: none;
}
li,
button,
label,
input,
a,
span,
p {
  font-size: $main-text;
  color: $color-text;
}
a {
  text-decoration: none;
  // color: $second-color;
  // &:hover {
  //   color: $third-color;
  // }
}
#particles-js {
}
#content {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
